/* utils */
white(a)
  rgba(255, 255, 255, a)

black(a)
  rgba(0, 0, 0, a)

/* Variables monocromáticas para light/dark */
:root
  --radius-large: 1rem
  --content-delay: 150ms

/* An util to define variables that vary with light and dark mode */
define(vars)
  :root
    for key, value in vars
      {key}: value[0]
  :root.dark
    for key, value in vars
      if length(value) > 1
        {key}: value[1]

define({
  /* Primary & backgrounds */
  --primary: oklch(0.25 0 0) oklch(0.85 0 0)
  --page-bg: oklch(0.95 0 0) oklch(0.16 0 0)
  --card-bg: oklch(0.97 0 0) oklch(0.19 0 0)

  /* Buttons */
  --btn-content: oklch(0.25 0 0) oklch(0.85 0 0)
  --btn-regular-bg: oklch(0.90 0 0) oklch(0.33 0 0)
  --btn-regular-bg-hover: oklch(0.85 0 0) oklch(0.38 0 0)
  --btn-regular-bg-active: oklch(0.80 0 0) oklch(0.43 0 0)
  --btn-plain-bg-hover: oklch(0.90 0 0) oklch(0.30 0 0)
  --btn-plain-bg-active: oklch(0.95 0 0) oklch(0.27 0 0)
  --btn-card-bg-hover: oklch(0.95 0 0) oklch(0.3 0 0)
  --btn-card-bg-active: oklch(0.88 0 0) oklch(0.35 0 0)

  /* Text & lines */
  --deep-text: oklch(0.15 0 0)
  --title-active: oklch(0.6 0 0)
  --line-divider: black(0.08) white(0.08)
  --line-color: black(0.1) white(0.1)
  --meta-divider: black(0.2) white(0.2)

  /* Links & selections */
  --link-underline: oklch(0.93 0 0) oklch(0.40 0 0)
  --link-hover: oklch(0.95 0 0) oklch(0.40 0 0)
  --link-active: oklch(0.90 0 0) oklch(0.35 0 0)
  --selection-bg: oklch(0.90 0 0) oklch(0.40 0 0)

  /* Inline code & codeblocks */
  --inline-code-bg: var(--btn-regular-bg)
  --inline-code-color: var(--btn-content)
  --codeblock-bg: oklch(0.17 0 0) oklch(0.17 0 0)
  --codeblock-topbar-bg: oklch(0.3 0 0) oklch(0.12 0 0)
  --codeblock-selection: oklch(0.40 0 0)

  /* Float panels & scrollbars */
  --float-panel-bg: oklch(0.97 0 0) oklch(0.19 0 0)
  --scrollbar-bg-light: black(0.4)
  --scrollbar-bg-hover-light: black(0.5)
  --scrollbar-bg-active-light: black(0.6)
  --scrollbar-bg-dark: white(0.4)
  --scrollbar-bg-hover-dark: white(0.5)
  --scrollbar-bg-active-dark: white(0.6)
  --scrollbar-bg: var(--scrollbar-bg-light) var(--scrollbar-bg-dark)
  --scrollbar-bg-hover: var(--scrollbar-bg-hover-light) var(--scrollbar-bg-hover-dark)
  --scrollbar-bg-active: var(--scrollbar-bg-active-light) var(--scrollbar-bg-active-dark)

  /* Otros */
  --display-light-icon: 1 0
  --display-dark-icon: 0 1

  /* TOC specific */
  --toc-btn-hover: oklch(0.90 0 0) oklch(0.33 0 0)
  --toc-btn-active: oklch(0.80 0 0) oklch(0.43 0 0)
  --toc-badge-bg: oklch(0.95 0 0) oklch(0.19 0 0)
})
